<?xml version="1.0"?>
<config>

    <modules>
        <Aws_CustomerGroup>
            <version>0.0.1</version>
        </Aws_CustomerGroup>
    </modules>

    <global>

        <models>
            <aws_customerGroup>
                <class>Aws_CustomerGroup_Model</class>
                <resourceModel>aws_customerGroup_resource</resourceModel>
            </aws_customerGroup>
            <aws_customerGroup_resource>
                <class>Aws_CustomerGroup_Model_Resource</class>
                <entities>
                    <domainGroup>
                        <table>aws_customerGroup_domainGroup</table>
                    </domainGroup>
                </entities>
            </aws_customerGroup_resource>
        </models>

        <blocks>
            <aws_customerGroup>
                <class>Aws_CustomerGroup_Block</class>
            </aws_customerGroup>
        </blocks>

        <helpers>
            <aws_customerGroup>
                <class>Aws_CustomerGroup_Helper</class>
            </aws_customerGroup>
        </helpers>

        <resources>
            <customerGroup_setup>
                <setup>
                    <module>Aws_CustomerGroup</module>
                </setup>
            </customerGroup_setup>
        </resources>

        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customer_before_load_page>
                        <class>aws_customerGroup/observer</class>
                        <method>checkAccessPage</method>
                    </customer_before_load_page>
                </observers>
            </controller_action_layout_load_before>
        </events>

    </global>

    <frontend>

        <events>
            <customer_register_success>
                <observers>
                    <customer_domain_group>
                        <class>aws_customerGroup/observer</class>
                        <method>addDomainGroup</method>
                    </customer_domain_group>
                </observers>
            </customer_register_success>
        </events>

    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aws_customerGroup before="Mage_Adminhtml">Aws_CustomerGroup_Adminhtml</aws_customerGroup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>